<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GM-Angular</title>
    <link type="text/css" rel="stylesheet" href="/webpack-dev-file/css/gm-angular.css"/>
    <link type="text/css" rel="stylesheet" href="style.css"/>
    <script src="../../node_modules/angular/angular.min.js"></script>

    <script src="/webpack-dev-file/js/gm-angular.js"></script>
    <style>
        .grid-main {
            height: calc(100vh - 64px - 57px);
        }
    </style>
</head>
<body ng-app="myApp" ng-controller="AppController as vm">
    <div class="search-area">
        <div class="sa-ele">
            <label class="se-title">名称:</label>
            <input class="se-con" ng-model="searchForm.title"/>
        </div>
        <div class="sa-ele">
            <label class="se-title">使用说明:</label>
            <input class="se-con" ng-model="searchForm.info"/>
        </div>
        <div class="sa-ele">
            <button class="search-action" ng-click="onSearch()">搜索</button>
            <button class="reset-action" ng-click="onReset()">重置</button>
        </div>
    </div>
    <br/>

    <div class="grid-main">
        <grid-manager option="option" callback="callback(query)"></grid-manager>
    </div>

    <div class="bottom-bar">
        <button id="init-gm" disabled>init</button>
        <button id="destroy-gm" disabled>destroy</button>
        <a href="https://github.com/baukh789/GridManager-Angular-1.x/blob/master/src/demo/index.html" target="_blank">查看源码</a>
    </div>

</body>
</html>